.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid magenta;
}

.ninjainfo {
  font-family: "Nunito";
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.ninjainfo:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}